<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <ui:composition template="/WEB-INF/templates/template.xhtml">
        <ui:define name="header">
            <ui:include src="/WEB-INF/components/admin-header.xhtml"/>
        </ui:define>
        <ui:define name="body">
            <h:form>
                <p:chart type="line" model="#{chartBean.chart}"/>
            </h:form>
        </ui:define>
    </ui:composition>
</html>
