<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>admin - login</title>
    </h:head>
    <h:body>
        <h:form>
            <p:panelGrid columns="2"  style="margin: auto;">
                <p:autoUpdate/>
                <p:outputLabel for="@next" value="Username"/>
                <p:inputText value="#{adminBean.username}" required="true"/>
                <p:outputLabel for="@next" value="Password"/>
                <p:password value="#{adminBean.password}" required="true"/>
                <h:panelGroup rendered="#{!adminBean.wrong}"/>
                <p:staticMessage severity="error" summary="Error" detail="Wrong credentials" rendered="#{adminBean.wrong}"/>
                <p:commandButton value="Log in" action="#{adminBean.submit}"/>
            </p:panelGrid>
        </h:form>
    </h:body>
</html>
