<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template="/WEB-INF/templates/template.xhtml">
        <ui:define name="header">
            <ui:include src="/WEB-INF/components/admin-header.xhtml"/>
        </ui:define>
        <ui:define name="body">
            <h:form>
                <p:panelGrid columns="2" layout="grid">
                    <p:panel>
                        <p:dataTable value="#{newsBean.news}" var="iter" rowKey="#{iter.id}" selectionMode="single" selection="#{newsBean.selected}">
                            <p:autoUpdate/>
                            <f:facet name="header">
                                News
                            </f:facet>
                            <p:column headerText="Title">
                                <h:outputText value="#{iter.title}"/>
                            </p:column>
                            <p:column headerText="Content">
                                <h:outputText value="#{iter.content}"/>
                            </p:column>
                        </p:dataTable>
                        <p:contextMenu for="@previous">
                            <p:menuitem value="Delete" icon="pi pi-times" action="#{newsBean.delete}"/>
                        </p:contextMenu>
                    </p:panel>
                    <p:panel>
                        <p:dataTable value="#{eventBean.events}" var="iter" rowKey="#{iter.id}" selectionMode="single" selection="#{eventBean.selected}">
                            <p:autoUpdate/>
                            <f:facet name="header">
                                Events
                            </f:facet>
                            <p:column headerText="Title">
                                <h:outputText value="#{iter.title}"/>
                            </p:column>
                            <p:column headerText="Category">
                                <h:outputText value="#{iter.category.name}"/>
                            </p:column>
                            <p:column headerText="Description">
                                <h:outputText value="#{iter.description}"/>
                            </p:column>
                        </p:dataTable>
                        <p:contextMenu for="@previous">
                            <p:menuitem value="Delete" icon="pi pi-times" action="#{eventBean.delete}"/>
                        </p:contextMenu>
                    </p:panel>
                </p:panelGrid>
            </h:form>
        </ui:define>
    </ui:composition>
</html>
