<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template="/WEB-INF/templates/template.xhtml">
        <ui:define name="header">
            <ui:include src="/WEB-INF/components/admin-header.xhtml"/>
        </ui:define>
        <ui:define name="body">
            <h:form>
                <p:autoUpdate/>

                <p:dataTable value="#{studentBean.students}" var="iter" rowKey="#{iter.id}" selectionMode="single" selection="#{studentBean.selected}">
                    <f:facet name="header">
                        Students
                    </f:facet>
                    <p:column headerText="Username">
                        <h:outputText value="#{iter.username}"/>
                    </p:column>
                    <p:column headerText="Name">
                        <h:outputText value="#{iter.name}"/>
                    </p:column>
                    <p:column headerText="Surname">
                        <h:outputText value="#{iter.surname}"/>
                    </p:column>
                    <p:column headerText="Email">
                        <h:outputText value="#{iter.email}"/>
                    </p:column>
                    <p:column headerText="Faculty">
                        <h:outputText value="#{iter.faculty.name}"/>
                    </p:column>
                    <p:column headerText="Blocked">
                        <h:outputText value="#{iter.block}"/>
                    </p:column>
                </p:dataTable>

                <p:contextMenu for="@previous">
                    <p:menuitem value="Block" icon="pi pi-minus-circle" action="#{studentBean.block}" rendered="#{!studentBean.selected.block}"/>
                    <p:menuitem value="Unblock" icon="pi pi-plus-circle" action="#{studentBean.unblock}" rendered="#{studentBean.selected.block}"/>
                    <p:menuitem value="Reset password" icon="pi pi-refresh" action="#{studentBean.resetPassword}" oncomplete="PF('newPassword').show()"/>
                </p:contextMenu>

                <p:dialog header="New password" widgetVar="newPassword" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                    <h:outputText value="#{studentBean.selected.password}"/>
                </p:dialog>
            </h:form>
        </ui:define>
    </ui:composition>
</html>
