<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template="/WEB-INF/templates/template.xhtml">
        <ui:define name="header">
            <ui:include src="/WEB-INF/components/ne-header.xhtml"/>
        </ui:define>
        <ui:define name="body">
            <h:form enctype="multipart/form-data">
                <p:panelGrid columns="2">
                    <p:autoUpdate/>
                    <p:outputLabel for="@next" value="Title"/>
                    <p:inputText value="#{addEventBean.title}" required="true"/>
                    <p:outputLabel for="@next" value="Held date"/>
                    <p:calendar value="#{addEventBean.heldDate}"  pattern="d MMMM y HH:mm" stepMinute="5"/>
                    <p:outputLabel for="@next" value="Description"/>
                    <p:inputTextarea value="#{addEventBean.description}" rows="3" required="true"/>
                    <p:outputLabel for="@next" value="Category"/>
                    <p:selectOneMenu value="#{addEventBean.category}" required="true">
                        <f:selectItem itemValue="1" itemLabel="Exam"/>
                        <f:selectItem itemValue="2" itemLabel="Lecture"/>
                        <f:selectItem itemValue="3" itemLabel="Promotion"/>
                        <f:selectItem itemValue="4" itemLabel="Practice"/>
                        <f:selectItem itemValue="5" itemLabel="Travel"/>
                        <f:selectItem itemValue="6" itemLabel="Other"/>
                    </p:selectOneMenu>
                    <p:outputLabel for="@next" value="Picture"/>
                    <p:fileUpload accept="image/*" mode="simple" skinSimple="true" required="true" value="#{addEventBean.file}"/>
                    <h:panelGroup rendered="#{!addEventBean.saved}"/>
                    <p:staticMessage severity="info" summary="OK" detail="Successfully added" rendered="#{addEventBean.saved}"/>
                    <p:commandButton action="#{addEventBean.create}" ajax="false" value="Submit"/>
                </p:panelGrid>
            </h:form>
        </ui:define>
    </ui:composition>
</html>
