<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition template="/WEB-INF/templates/template.xhtml">
        <ui:define name="header">
            <ui:include src="/WEB-INF/components/ne-header.xhtml"/>
        </ui:define>
        <ui:define name="body">
            <h:form>
                <p:panelGrid columns="2">
                    <p:autoUpdate/>
                    <p:outputLabel for="@next" value="Title"/>
                    <p:inputText value="#{addNewsBean.title}" required="true"/>
                    <p:outputLabel for="@next" value="Content"/>
                    <p:inputTextarea value="#{addNewsBean.content}" rows="3" required="true"/>
                    <h:panelGroup rendered="#{!addNewsBean.saved}"/>
                    <p:staticMessage severity="info" summary="OK" detail="Successfully added" rendered="#{addNewsBean.saved}"/>
                    <p:commandButton action="#{addNewsBean.create}" value="Submit"/>
                </p:panelGrid>
            </h:form>
        </ui:define>
    </ui:composition>
</html>
