html, body {
    height: 100%;
    padding-top: 2em;
}

.scrollable {
    overflow-y: auto;
    height: 99%;
}

.profile-img {
    width: 35px;
    height: 35px;
}

.profile-img-sm {
    width: 25px;
    height: 25px;
}

.navbar-toggler {
    border: none !important;
}
