<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <ui:composition>
        <h:form>
            <p:outputLabel value="Number of active users: "/>
            <p:outputLabel value="#{infoBean.activeUsers}"/>
            <p:outputLabel value=" | "/>
            <p:outputLabel value="Number of registered users: "/>
            <p:outputLabel value="#{infoBean.registeredUsers}"/>
            <p:outputLabel value=" | "/>
            <p:link href="index.xhtml" value="Review"/>
            <p:outputLabel value=" | "/>
            <p:link href="users.xhtml" value="Users"/>
            <p:outputLabel value=" | "/>
            <p:link href="posts.xhtml" value="Posts"/>
            <p:outputLabel value=" | "/>
            <p:commandLink action="#{adminBean.logOut}" value="Log out"/>
            <p:separator/>
        </h:form>
    </ui:composition>
</html>
